@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white font-sans overflow-hidden antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-dark-glass backdrop-blur-glass border border-white/10 shadow-2xl;
  }
  
  .glass-panel-hover {
    @apply hover:bg-white/10 transition-colors duration-300;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
